body {
  margin: 1em;
  background-color: #fff;
  font-family: sans-serif;
}
th {
  text-align: left; /* LTR */
  color: #006;
  border-bottom: 1px solid #ccc;
}
tr.odd {
  background-color: #ddd;
}
tr.even {
  background-color: #fff;
}
td {
  padding: 5px;
}
#menu {
  visibility: hidden;
}
#main {
  margin: 1em;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  color: #00f;
}
a:link img,
a:visited img {
  border: 0;
}



.field--name-field-propiedad .field--label-inline {
    display: inline-flex;
}
.fecha {
    margin-bottom:30px;
}
/*.cliente, .ejecutivo {
    width: 48%;
    display: inline-block;
    float: left;
    text-align:center;
    border: 1px solid gray;
    padding:10px;
}*/
.inline {
    display: inline;
    float: left;
    padding: 10px;
    border-bottom: 1px solid gray;
}
.inline-block {
    display: block;
    padding: 10px;
    border-bottom: 1px solid gray;
}
span {
    font-weight: bold;
}

.div-block {
    display: table-row;
    margin-bottom: 30px;
    border: none;
    background-color: #ddd;
}




