<!-- Footer -->

<footer id="footer" class="footer">     
  <div class="container">
    <div class="row-base row">
      <div class="col-base text-left-md col-md-4">
        {{ page.footer_col_1 }}
      </div>
      <div class="text-center-md col-base col-md-4">
        {{ page.footer_col_2 }}

      </div>
      <div class="text-right-md col-base col-md-4">
        {{ page.footer_col_3 }}
          
      </div>
    </div>
  </div>
</footer>

<div class="aviso-privacidad">
    <a href="aviso-de-privacidad">Aviso de Privacidad</a>
</div>

<!-- Lines -->

<div class="page-lines">
  <div class="container">
    <div class="col-line col-xs-4">
      <div class="line"></div>
    </div>
    <div class="col-line col-xs-4">
      <div class="line"></div>
    </div>
    <div class="col-line col-xs-4">
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</div>